<button [routerLink]="['/take-until-destroyer']">
    takeUntil operator destroyer
</button>
<button [routerLink]="['/take-until-no-unsubscribe']">
    takeUntil operator no unsubscribe
</button>
<button [routerLink]="['/take-until-subscription']">
    takeUntil operator subscription
</button>
<button [routerLink]="['/take-until-destroyer-without-ng-on-destroy']">
    takeUntil operator destroyer without ngOnDestroy
</button>
<button [routerLink]="['/subsink-unsubscriber']">
    SubSink third part library to unsubscribe easily
</button>

<router-outlet></router-outlet>
